@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

html, body, figure, header,img, div, section, article, input, button, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a,form {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    

}


body{
    width: 412px;
    height: 914px;
    background-color: #daab91;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 85%;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

header h1{
    color:#27575b;

}

.pesquisa input{
    background-color: #dab0993b;
    padding: 5px;
    font-size: 12px;
}

#pesquisa {
    padding: 5px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

section h2{
    font-size: 20px;
    font-weight: 400;
    color: #553d32;
}

section form{
    
    padding: 0 5px;
}

form input{
    width: 150px;
    padding: 5px;
    background-color: #dab0993b;
    font-size: 12px;
}

form select{
    padding: 5px;
    border: none;
}

form select option{
    background-color: #dab0993b;;
}

form button{
    padding: 5px;
}

li{
    width: 300px;
    display: flex;
    justify-content: space-between;
    
}










li {
    list-style: none;
    border-bottom: 0.5px solid rgba(80, 79, 79, 0.452);
    margin-bottom: 20px;
    padding: 5px;
    font-size: 15px;
}


.normal{
    color: #439097;
    
}

.prioritario{
    color:#918f23;
}

.urgente{
    color:#942922;
}

.btnRemove {
    width: 20px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.253);
    
}



